.vertical_menu {
    height:100%; 
    width: 100%;
    margin-top: 45%;

    margin-right: 0;
 
}
.cinza{
    background-color: #E7E7E7; 
    height:80.47%; 
    width: 15%;
    margin:0px;
}
.column{
    float: left;
}

.content {
    width: 85%;
}
body{
    margin: 0;
}
#divisoria{
    width: 10%;
    position: relative;
    left: 1.5%;
    top: 15%;

    margin: 0px;
}

#divisoria hr{
    color: white;
}
.vertical_menu a {
    background-color: #E7E7E7;
    color: black;
    display: block;

    padding: 12px;
    text-decoration: none;
}

.vertical_menu a:hover {
    background-color: #ccc;
}

.vertical_menu a.active {
    background-color: #4CAF50;
    color: white;
}

#circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 11%;
    height: 20%;
    overflow: hidden;
    position: absolute;
    left: 1%;
    top: 0.3%;
    margin: 0px;
}
#circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#cabecalho{
    background-color: #3A96AA;
    width: 100%;
    height: 9.765%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#rodape{
    background-color: #3A96AA;
    width: 100%;
    height: 9.765%;
    float: right;
    margin-top: 12;
}

#sair{
    width: 10%;
    margin-left: 93%;
    margin-top: -2%;
}

#nome h1{
    margin: 0;
    text-align: center;  
    font-weight: lighter;
    color: activeborder;
}

#content{
    align-items: center;    
}

#rodape h4{
    margin-top: 15px;
    text-align: right ;
}

#divisoria{
    margin-top: 7.5%;
}


